# First Task

In [51]:
import datetime

import numpy as np
import pandas as pd
np.random.seed(18182)
data = np.random.random(size=(10, 5))
df = pd.DataFrame(data, columns=['1', '2', '3', '4', '5'])
df_ = df.where(df>0.3)
mean = df_.mean(axis=1)
mean

0    0.608306
1    0.608831
2    0.788830
3    0.736940
4    0.683369
5    0.451119
6    0.662750
7    0.802052
8    0.630484
9    0.647966
dtype: float64

# Second Task

In [52]:
import numpy as np
import pandas as pd
import calendar
df = pd.read_csv("wells_info.csv")

df = df.assign(SpudDate=pd.to_datetime(df.SpudDate))
df = df.assign(CompletionDate=pd.to_datetime(df.CompletionDate))
df_ = (df["CompletionDate"]-df['SpudDate']).dt.days
df_ = (df_ - (df_ // 365) * 365) // 30
df_

0      7
1      4
2     11
3      3
4      3
5      4
6      3
7      4
8      5
9      2
10     7
11     1
12     3
13     3
14     2
15     4
16     3
17     7
18     1
19     3
20     4
21     5
22     3
23     5
24     5
25     3
26     4
27     5
28     4
29     6
30     7
31     6
32     8
33     4
34     4
35     1
36     2
37     6
38     3
39     1
40     4
41     4
42     2
43     3
44     3
45     4
46     5
47     4
48     7
49     4
dtype: int64

# Third Task

In [53]:
import pandas as pd
df = pd.read_csv("wells_info_na.csv")
df = df.assign(CompletionDate=pd.to_datetime(df.CompletionDate))
med1 = df['CompletionDate'].median()
med2 = df['LatWGS84'].median()
med3 = df['LonWGS84'].median()
df['CompletionDate'] = df['CompletionDate'].fillna(med1)
df['LonWGS84'] = df['LonWGS84'].fillna(med3)
df['LatWGS84'] = df['LatWGS84'].fillna(med2)
df_ = df['BasinName'].value_counts().reset_index()
df['BasinName'] = df['BasinName'].fillna( df_.iloc[0,0])
df_ = df['StateName'].value_counts().reset_index()
df['StateName'] = df['StateName'].fillna( df_.iloc[0,0])
df

,API,CompletionDate,FirstProductionDate,formation,BasinName,StateName,CountyName,LatWGS84,LonWGS84,PROP_PER_FOOT
0,5123402600000,2015-09-13,2015-09-01 00:00:00.000,CODELL,DENVER BASIN,COLORADO,WELD,40.353967,-104.944679,926.5010
1,5123409020000,2015-09-07,2015-09-01 00:00:00.000,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.482361,-104.468261,697.0967
2,5123410480000,2015-04-07,2015-04-01 00:00:00.000,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.482361,-103.561306,896.9146
3,30015414470000,2014-01-07,2013-12-01 00:00:00.000,BONE SPRING,PERMIAN BASIN,NEW MEXICO,EDDY,40.482361,-103.561306,648.1232
4,30025425390000,2015-10-10,2015-08-01 00:00:00.000,WOLFCAMP UPPER,PERMIAN BASIN,NEW MEXICO,LEA,32.080410,-103.530040,1657.9800
5,33053048870100,2014-11-05,2014-11-01 00:00:00.000,BAKKEN,DENVER BASIN,NORTH DAKOTA,MCKENZIE,47.995019,-103.561306,984.4741
6,33053051530000,2014-04-27,2014-04-01 00:00:00.000,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.992928,-103.020490,341.2530

# Four task

In [158]:
import pandas as pd



df = pd.read_csv("production.csv")
df_ = df.groupby("API").sum()
df_1 = df_['Liquid']
#df_2 = df.groupby(by=["API",'Year','Month']).sum().reset_index()
df_2 = df[['API','Month','Liquid']]
df_2 = df_2.groupby(['API']).sum().reset_index()
df_2

C:\Users\egors\AppData\Local\Temp\ipykernel_3592\3300879900.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_ = df.groupby("API").sum()

               API  Month  Liquid
0    5005072170100    156  201325
1    5123377130000    156   34625
2    5123379280000    156   69009
3    5123379400000    156   81048
4    5123385820100    156   18050
5    5123390320000    156   38365
6    5123390440000    156  108032
7    5123392690000    156   77472
8    5123399750000    156   39758
9    5123402600000    156   91774
10   5123409020000    156   48796
11   5123410480000    156   40916
12  30015414470000    156   70044
13  30025425390000    156  281523
14  33023010960000    156  114677
15  33025026780000    156  246346
16  33053048870100    156  192598
17  33053051530000    156  209884
18  33053056390200    156   96426
19  33053056550000    156  131333
20  33053059400000    156  118509
21  33053061530000    156  177349
22  33053061600000    156   67576
23  33053061970000    156  143473
24  33053062710000    156   76054
25  33053067490000    156  305750
26  33061032390000    156   69553
27  33061033560000    156  150776
28  33105031270000    156   63100
29  33105032030000    156  114125
30  33105034810000    156   65310
31  33105035380000    156  200140
32  33105035810000    156   80612
33  33105036550100    156  107681
34  33105037690100    156  179799
35  35017246780000    156   32732
36  35017246960000    156  159987
37  35073250300000    156   91761
38  42105419830000    156   30474
39  42105420060100    156   68082
40  42105421020000    156   46242
41  42105421500000    156   47727
42  42301318440000    156   37897
43  42317401950000    156   87498
44  42371392130100    156  159724
45  42383381710000    156  102284
46  42389339940000    156  155902
47  42389345710000    156  165113
48  42461395750000    156   95097
49  49021210550000    156   72608