# First Task

In [ ]:
import datetime

import numpy as np
import pandas as pd
np.random.seed(18182)
data = np.random.random(size=(10, 5))
df = pd.DataFrame(data, columns=['1', '2', '3', '4', '5'])
df_ = df.where(df>0.3)
mean = df_.mean(axis=1)
mean

# Second Task

In [ ]:
import numpy as np
import pandas as pd
import calendar
df = pd.read_csv("wells_info.csv")

df = df.assign(SpudDate=pd.to_datetime(df.SpudDate))
df = df.assign(CompletionDate=pd.to_datetime(df.CompletionDate))
df_ = (df["CompletionDate"]-df['SpudDate']).dt.days
df_ = (df_ - (df_ // 365) * 365) // 30
df_

# Third Task

In [ ]:
import pandas as pd
df = pd.read_csv("wells_info_na.csv")
df = df.assign(CompletionDate=pd.to_datetime(df.CompletionDate))
med1 = df['CompletionDate'].median()
med2 = df['LatWGS84'].median()
med3 = df['LonWGS84'].median()
df['CompletionDate'] = df['CompletionDate'].fillna(med1)
df['LonWGS84'] = df['LonWGS84'].fillna(med3)
df['LatWGS84'] = df['LatWGS84'].fillna(med2)
df_ = df['BasinName'].value_counts().reset_index()
df['BasinName'] = df['BasinName'].fillna( df_.iloc[0,0])
df_ = df['StateName'].value_counts().reset_index()
df['StateName'] = df['StateName'].fillna( df_.iloc[0,0])
df

# Four task

In [46]:
import pandas as pd



df = pd.read_csv("production.csv")
df_ = df.groupby("API").sum().reset_index()
df_1 = df_['Liquid']
df_2 = df.groupby(by=['API']).sum()
df_2 = df.groupby('API').apply((lambda x: x.head(12).sum()))
df_2 = df_2['Liquid'].reset_index()
df_2 = df_2['Liquid']
df.loc[:,"ProdAll"] = df_2
df.loc[:,"Prod1Year"] = df_1
df

C:\Users\egors\AppData\Local\Temp\ipykernel_20656\57692367.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_ = df.groupby("API").sum().reset_index()
C:\Users\egors\AppData\Local\Temp\ipykernel_20656\57692367.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_2 = df.groupby(by=['API']).sum()

,API,Year,Month,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate,ProdAll,Prod1Year
0,5005072170100,2014,11,9783,11470,1.172442,10558,1.079219,14,2016-04-06 17:20:05.757,139501.0,201325.0
1,5005072170100,2014,12,24206,26476,1.093778,5719,0.236264,31,2016-04-06 17:20:05.757,25118.0,34625.0
2,5005072170100,2015,1,20449,26381,1.290088,2196,0.107389,31,2016-04-06 17:20:05.757,49692.0,69009.0
3,5005072170100,2015,2,6820,10390,1.523460,583,0.085484,28,2016-04-06 17:20:05.757,63292.0,81048.0
4,5005072170100,2015,3,7349,7005,0.953191,122,0.016601,13,2016-06-16 14:07:33.203,15569.0,18050.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1195,49021210550000,2015,10,1262,665,0.526941,341,0.270206,31,2016-04-06 15:40:34.957,NaN,NaN
1196,49021210550000,2015,11,1410,826,0.585816,572,0.405674,30,2016-04-06 15:40:34.957,NaN,NaN
1197,49021210550000,2015,12,1443,895,0.620236,620,0.429660,31,2016-04-06 15:40:34.957,NaN,NaN
1198,49021210550000,2016,1,1654,988,0.597340,808,0.488513,31,2016-04-06 15:40:34.957,NaN,NaN
1199,49021210550000,2016,2,1328,827,0.622741,577,0.434488,29,2016-04-06 15:40:34.957,NaN,NaN